body {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family:'Segoe UI';
    font-weight:bold;
    font-size: 15px;
    text-decoration: none;
    background-color:rgba(194, 188, 188, 0.08);
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    background-color:none;
    border: 1px medium;
}
   
.page-title {
    font-size: 20px;
    float: left;
    margin: 20px;
    font-weight: bold;
}

.content {
    margin: auto;
}
.article-title-slash {
    margin-bottom:10px;
    
}
.head {
}
.title-information {
    padding-top:10px;
}

#report-list {
    list-style: none;
    margin: 0 auto;
    height:450px;
    padding:10px;
    width:500px;
    float:left;
}
    #report-list div {
    }
.collapse {
    display:none;
}
.expand {
    display:normal;
}
.pictureShowDiv {
    width: 500px;
    height: auto;
    float:left;
}

.head-titles {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.title-txt {
    width: 400px;
    margin-left:18px;
}
.tags-class {
    width:400px;
    margin-top:-15px;
    margin-left:90px;
    border:medium;
    height:100px;
    overflow-y:scroll;
    list-style:none;
    border:1px solid;
}
    .tags-class li {
        list-style:none;
        margin-top:10px;
    }
.type_select {
    width: 400px;
    margin-left:18px;
}
.type_select2 {
    width: 150px;
    margin-left:18px;
    margin-right:50px;
}
#teamlist {
    float: left;
}

.desc {
    height: 400px;
    width: 100%;
    float: left;
}

.selectPictureWin {
    max-height: 570px;
    width: 800px;
    padding: 50px 50px;
    background-color: #FFF;
}


.tab {
    width: 100%;
}

.tab_menu {
    clear: both;
}

    .tab_menu li {
        float: left;
        text-align: center;
        cursor: pointer;
        list-style: none;
        padding: 1px 6px;
        margin-right: 4px;
        background: #F1F1F1;
        border: 1px solid #898989;
        border-bottom: none;
        width: 95px;
        height: 36px;
        vertical-align: central;
    }

        .tab_menu li.hover {
            background: #3fa7cb;
        }

        .tab_menu li.selected {
            color: white;
            font-weight: bold;
            background: #3fa7cb;
        }

.tab_box {
    clear: both;
    width: 100%;
    border-bottom: 1px solid #898989;
    border-top: 1px solid #898989;
    height: 482px;
}

.addPicBt {
    margin-top: 218px;
    margin-left: 346px;
}

.pic-desc {
    color: #999;
    position: absolute;
    top: 353px;
    left: 280px;
}

.hide {
    display: none;
}

.actionArea {
    float: right;
    height: 50px;
}

.okBt {
    margin: 10px;
    background-color: #3fa7cb;
    color: black;
    font-size: 16px;
    outline: none;
    float: left;
    width: 95px;
    height: 36px;
}

    .okBt:hover {
        color: white;
        font-weight: bold;
        cursor: pointer;
        background-color: darkblue;
    }



.resetBt2 {
    margin: 10px;
    background-color: #3fa7cb;
    color: black;
    font-size: 16px;
    outline: none;
    float: left;
    width: 95px;
    height: 36px;
}

    .resetBt2:hover {
        color: white;
        font-weight: bold;
        cursor: pointer;
        background-color: darkblue;
    }

.resetBt {
    margin: 10px;
    background-color: #3fa7cb;
    color: black;
    font-size: 16px;
    outline: none;
    float: left;
    width: 95px;
    height: 36px;
}

    .resetBt:hover {
        color: white;
        font-weight: bold;
        cursor: pointer;
        background-color: darkblue;
    }
    .edit-unit-panel .edit-tag-btns, .edit-tag-panel .edit-tag-btns {
    padding: 5px 0px 20px 75px;
}
    a.sc-btn2, a.sc-btn {
    text-align: center;
    line-height: 27px;
    font-size: 14px;
    float: left;
    background-color: #EA5449;
    overflow: hidden;
    border-radius: 18px;
    width: 114px;
    height: 28px;
    color: #FFF;
    text-decoration: none;
    transition: border-radius 0.2s ease-in-out 0s;
}
        a.sc-btn2, a.sc-btn:hover {
            border-radius: 0px;
        }
    .cancel-btn {
    margin: 0px 0px 0px 20px;
}
    a.sc-btn:link span, a.sc-btn:visited span, a.sc-btn:hover span, a.sc-btn:active span {
    display: block;
    cursor: pointer;
    color: #FFF;
}


#editor1 {
    cursor: none;
}

.secondAddPicBt {
    display: none;
}

.pict-items {
    list-style: none;
}

.pict-show-in-body {
    list-style: none;
}

.pict-item {
    list-style: none;
    width: 200px;
    height: 200px;
    float: left;
}

.pict-head {
    padding: 10px;
    width: 200px;
    height: 150px;
}

.innerPic {
    width: 120px;
    height: 120px;
    border: 1px solid #D8D8D8;
    box-sizing: border-box;
}

.pict-actions {
    height: 20px;
    width: 200px;
    text-align: center;
}

#addNewPict {
    margin: 10px;
}

.item {
    margin: 7px;
    float: left;
}

.itemMain {
    margin: 30px;
    box-shadow: 10px 10px #666666;
    float: left;
}

.removePicture {
    width: 30px;
    height: 30px;
}

.removePicture2 {
    width: 30px;
    height: 30px;
    margin-left: 20px;
}


#TextBox1 {
    width:900px;
    margin:0 auto;
}

.articleTypeDiv-sub, .articleTeamDiv-sub, .articleStatusDiv-sub, .articleOwnerDiv-sub, .articleTagDiv-sub {
    position:absolute;
    top:21px;
    padding:5px;
    width:385px;
    border:1px dotted #ccc;
    background-color:#fff;
    cursor:pointer;
    overflow:auto;
    z-index:3;
}

.owners-list {
    height:20px;
    resize:none;
    overflow:auto;
    width:390px;
}
.ownerarea {
    padding-left:0px;
    list-style:none;

}
    .ownerarea li {
        list-style:none;
    }
.seperateowner {
    width:50px;
    background:url("../images/close.png");
    background-position:right;
}
    .articleTypeDiv, .articleStatusDiv, .articleTagDiv, .articleTeamDiv, .articleOwnerDiv {
        width:400px;    
        height: 20px;
            line-height: 18px;
            background-image: url("../images/downArrow.PNG");
            background-repeat: no-repeat;
            background-position: right center;
            border: 1px #d9d9d9 solid;
            z-index: 1;
    background-color:#fff;
            
        }

#artcle-information-board .a:nth-child(2n+1) {
    padding-top:19px;
}
#artcle-information-board {
    padding:0px 5px;
}
.article-title-text {
    width:400px;
}
.article-description-text {
    width:400px;
}
.select-tool-tips {
    font-size:small;
    font-style:italic;
}
.selectedCategories {
    padding-left:10px;
}
.selectedCategories li{
    float:left;
           list-style:none;
           margin-right:5px;
}
.teampicsmall img {
    width:50px;
    height:50px;
    cursor:pointer;
}
.articleTeamDiv-sub li {
    list-style:none;
}
.articleTeamDiv-sub li {
    padding:5px;
    
}
    .articleTeamDiv-sub li:hover {
        background-color:aliceblue
    }

    .articleOwnerDiv-sub li {
    list-style:none;
}
.articleOwnerDiv-sub li {
    padding:5px;
    
}
    .articleOwnerDiv-sub li:hover {
        background-color:aliceblue
    }

      .articleStatusDiv-sub li:hover {
        background-color:aliceblue
    }
/*.test {
    background-color:#EA5449;
    cursor:pointer;
    width:120px;
    overflow-x:auto;
    margin:0 20px;
    border-radius: 10px;
    color:white;
    
}
    .test:hover {
        border-radius: 0px;
    transition: border-radius 0.2s ease-in-out 0s;
    background:url("../Images/close.png");
    background-repeat:no-repeat;
    background-position:right;
    color:black;

    }*/
.disabled1 {

}

.ui-search-filter-opts {
    list-style: outside none none;
}
.ui-search-filter-opts li {
    float: left;
    border: 1px solid #FD900F;
    height: 14px;
    line-height: 14px;
    background: #FFF none repeat scroll 0% 0%;
    margin: 0px 10px 7px 0px;
    position: relative;
    padding: 3px 18px 3px 4px;
    overflow: hidden;
    height:20px;

    margin-left: -40px;
margin-top: 5px;
margin-right:45px;
    border-radius: 10px;

}
    .ui-search-filter-opts li:hover {
         border-radius: 0px;
    transition: border-radius 0.2s ease-in-out 0s;
    cursor:pointer;
    }
.ui-search-filter-close {
    background-image: url("../Images/bg_img.png");
    background-repeat: no-repeat;
    background-position: -152px -46px;
    display: inline-block;
    height: 14px;
    margin-left: 7px;
    vertical-align: middle;
    position: absolute;
    right: 5px;
    top: 3px;
    width: 8px;
}