.article {
    padding: 50px 15px 0px;
    position: relative;
    width:1200px;
    margin: 0 auto;
}

.single-left {
    height: auto;
    width:900px;
    margin: 0 auto;
    position: absolute;
    top:0px;
    left: 0px;
    bottom: 0px;
    display:flexbox;
}


.post-con {
    height: auto;
    width:900px;
    line-height: 1.7;
    font-size: 16px !important;
    position: relative;
    color: rgba(0, 0, 0, 0.8) !important;
    font-style: normal !important;
        border-right: 1px solid #898989;
    transition: border-radius 0.2s ease-in-out 0s;
    border-radius: 18px;


}

.post-bottom {
    position: relative;
    margin: 20px 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding-top: 20px;
    min-height: 60px;
}

.single-right {
    position: absolute;
    width: 240px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    padding: 30px 25px 25px;
    font-size: 14px;
}

.loading-indicator {
    background: url('../Images/loading40.gif') no-repeat center;
    width: 70px;
    height: 70px;
}

.loading-indicator-overlay {
    opacity: 0.6;
    background-color: rgb(255, 255, 255);
}

.otherarticles {
    list-style:none;
    float:left;
}
    .otherarticles li {
        padding: 10px;
    }