.article {
    padding: 50px 15px 0px;
    position: relative;
    width:1200px;
    margin: 0 auto;
}

.single-left {
    height: auto;
    width:900px;
    margin: 0 auto;
    position: absolute;
    top:0px;
    left: 0px;
    bottom: 0px;
    display:flexbox;
    padding-top:40px;
}

a {
        color: #333;
    line-height: 19px;
    font-size: 16px;
    text-decoration: none;
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.post-tags a {
    background-color: rgba(0,0,0,0.05);
    border-radius: 4px;
    padding: 5px 12px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    color: rgba(0,0,0,0.3);
    display: inline-block;
}
.post-share {
    /* position: absolute; */
    text-align: right;
    min-height: 60px;
}

.post-share .button:first-child {
    margin-left: 0px;
}
.post-share .btn-weibo, .post-share .btn-weibo:hover {
    border-color: #d74039 !important;
    color: #d74039 !important;
}
.post-share .button {
    opacity: 0.8;
    /* width: 38px; */
    /* height: 38px; */
    line-height: 38px;
    /* border-radius: 100%; */
    font-size: 14px;
    /* padding: 0px; */
    margin-left: 12px;
}
.button {
    float:left;
    padding-left:10px;
    display: inline-block;
    position: relative;
    height: 38px;
    line-height: 38px;
    padding: 0 16px;
    outline: 0;
    color: rgba(0,0,0,0.44);
    background: transparent;
    border: #ddd 1px solid;
    background: rgba(0,0,0,0);
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.15);
    vertical-align: bottom;
    white-space: nowrap;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 400;
    font-style: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: .1s background-color,.1s border-color,.1s color;
    -moz-transition: .1s background-color,.1s border-color,.1s color;
    -ms-transition: .1s background-color,.1s border-color,.1s color;
    -o-transition: .1s background-color,.1s border-color,.1s color;
    transition: .1s background-color,.1s border-color,.1s color;
}
.post-share .btn-weixin, .post-share .btn-weixin:hover {
    border-color: rgb(81,195,50) !important;
    color: rgb(81,195,50) !important;
}
.post-con {
    height: auto;
    width:900px;
    line-height: 1.7;
    font-size: 16px !important;
    position: relative;
    color: rgba(0, 0, 0, 0.8) !important;
    font-style: normal !important;
    min-height:400px

}

.post-bottom {
    position: relative;
    margin: 20px 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding-top: 20px;
    min-height: 60px;
}

.post-tags {
    text-align: left;
    padding-bottom: 30px;
    padding-right: 334px;
}

.single-right {
    position: absolute;
    width: 240px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    padding: 30px 25px 25px;
    font-size: 14px;
}

.loading-indicator {
    background: transparent url('../Images/loading40.gif') no-repeat scroll 50% center;
    width: 70px;
    height: 70px;
}

.loading-indicator-overlay {
    opacity: 0.6;
    background-color: rgb(255, 255, 255);
}

.otherarticles {
    list-style:none;
    float:left;
}
    .otherarticles li {
        padding: 10px;
    }


    .single-right .hd {
    border-bottom: 2px solid #ccc;
    padding: 12px 0 4px;
    line-height: 29px;
    height: 40px;
    margin-bottom: 5px;
}
    .title_container {
    position: relative;
    top: 10px;
    margin: 0 auto;
    text-align: center;
}
    .title_container .title {
    position: absolute;
    display: block;
    font-size: 20px;
    top: -16px;
    width: 100%;
    text-align: center;
    color: #333;
    left: 0;
}
    .title_container .sub_title {
    position: absolute;
    display: block;
    font-size: 12px;
    font-family: arial;
    color: #999;
    width: 100%;
    text-align: center;
    top: 6px;
    left: 0;
}

    .single-head {
    /* max-width: 700px; */
    /* margin: 0 auto; */
    position:absolute;
    top:10px;
    left:10px;
}

    .post-head {
    /* width: 70%; */
    /* text-align: right; */
    position: absolute;
    bottom: 200px;
    color: black;
    left: 0;
    right: 0;
}
.post-head h1 {
    font-size: 42px;
    margin-bottom: 30px;
    line-height: 1.4;
    padding-right: 15px;
    font-weight: bold;
}

    .post-meta {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    border: none;
}
.single-head .title {
        font-size: 40px !important;
    color: chocolate !important;
}