body {
    font-family: 'Segoe UI';
}
   .wrapper {
    width: 1200px;
    margin: 0 auto;
}
     .user-name-link {
            color: white;
        }
  .container {
            width: 1040px;
        }
.informationarea, .approvearea, .tagarea {
    width: 800px;
    margin: 0 auto;
}

.basic-edit div {
    margin: 20px auto;
}

.basic-edit span {
    display:block;
    font-size:large;
    font-weight:bold;
    margin-left:-10px;
    margin-bottom:10px;
}



        
.hide {
    display: none;
}