body {
    font-family: 'Segoe UI';
}
   .wrapper {
    width: 1200px;
    margin: 0 auto;
}
     .user-name-link {
            color: white;
        }
  .container {
            width: 1040px;
        }
.informationarea, .approvearea, .tagarea {
    width: 500px;
    margin: 50px auto;
   

}

    .informationarea div {
        width: 400px;
        display:block;
    }
        
.hide {
    display: none;
}