body {
       padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Microsoft YaHei UI';
    font-size:15px;
}


a {
    text-decoration: none;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}


.teamlist-table {
    width:100%;
}

    .teamlist-table .table-head td {
        font-weight:bold;
        font-size:18px;
        padding-left:30px;
        padding-top:30px;
        width:200px;
        border-bottom:2px solid;
    }
.teamlist-body td {
        padding-left:30px;
        padding-top:30px;
        width:200px;
}

